.dnd-container {
    width: fit-content;
    background-color: rgb(48, 48, 48);
    margin: min(1rem, 3%);
    padding-block: min(1rem, 2vw);
    padding-inline: min(2rem, 3vw);
    border-radius: 12px;
    box-shadow: 0 0 16px;
    --task-padding: min(1rem, 2vw);
}

.draggable {
    cursor: grab;
}

.dragging {
    background-color: rgb(110, 110, 110);
}

.dragging * {
    opacity: 0.85;
    transition: all 0.2s linear;
}

.dropzone {
    /* background-color: red; */
    position: relative;
    padding: 0rem;
    padding: 1rem;
    content-visibility: hidden;
}
